body {
    font-family: Arial, sans-serif;
    background-color: #000; 
    color: white; 
    overflow-x: hidden;
}

header {
    background-color: #000; 
    box-shadow: 0 0 10px white;
}

.welcome-text h1 {
    color: #fff; 
}

.container {
    border: 2px solid #fff; 
    background-color: #000; 
}

.profile {
    background-color: #000; 
    border: 4px dotted #0062ff; 
    color: #fff; 
}

.profile-content h2 {
    color: #fff; 
}

.profile-content p {
    color: #ddd; 
}

.skills li {
    background: #000; 
    color: #fff; 
}

footer {
    background-color: #000; 
    color: #fff; 
