body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    background: linear-gradient(to right, #845ec2, #2c73d2,#0081cf,#0089ba,#008e9b,#008f7a);
}

header {
    background-color: rgba(38, 36, 36, 0.776);
    padding: 20px;
    text-align: center;
    color: #fff;
    box-shadow: 0 0 20px white;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

.container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

.profile {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 30px;
    background: rgb(255, 255, 255);
    box-shadow: 0 5px 10px white;
    padding: 20px;
    border-radius: 10px;
}

.profile img {
    width: 150px;
    height: 150px;
    box-shadow: 0 0 10px rgb(0, 115, 255);
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.profile-content {
    flex: 1;
}

.profile-content h2 {
    margin-top: 0;
    font-size: 1.8rem;
    color: rgb(0, 0, 0);
}

.profile-content p {
    margin: 10px 0;
    color: rgb(85, 85, 85);
}

button{
    transition: transform 0.5s ease-in-out;
}

button:hover{
    transform: scale(1.1);
}

.skills {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

.skills li {
    background: #000000;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #4f4fcb;
    color: #fff;
}
